@model IEnumerable<Minizon.Admin.Web.Models.CatalogBookViewModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Isbn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SuggestedPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Isbn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            $@Html.DisplayFor(modelItem => item.SuggestedPrice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { Id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { Id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { Id = item.Id })
        </td>
    </tr>
}

</table>
